@model IEnumerable<OctoCodes.Models.Article>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1>Index</h1>

<p>
    <a asp-action="NewArticle" class="btn btn-primary">Vytvořit nový článek</a>
</p>
@foreach (var item in Model)
{
    <a asp-action="EditArticle" asp-route-id="@item.Id" class="article-list-link">
        <h3 class="article-list-title">@item.Title</h3>
        <img src="@Url.Content("~/")@item.Image" class="article-list-image" />
    </a>
    <br />
}
