@model IEnumerable<OctoCodes.Models.Comment>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @RenderBody()

    @*
        Comment section here
    *@

<h2>Vložit komentář</h2>
<form>

</form>

@foreach (var comment in Model)
{

}

